body{
    background-color:rgb(193, 241, 161);
}

header img{
    width: 100%;
    height: 190px;
    display: flex;
}

header h1{
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-primary{
    font-size: 25px;
    margin: 20px;
    padding: 15px;
    border: 2px solid black;
    width: 300px;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s;
    background-color: rgb(247, 227, 227);
    color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

 

.btn-primary:hover{
   background-color: rgb(177, 225, 255);
   transform: scale(1.1);
   color:black;
   border:2px solid black;
   box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
   
}

.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(177, 225, 255, 0.5);
}

#salir_cerrarsesion:hover{
    background-color: rgb(243, 95, 95);
}

#salir_cerrarsesion:focus{
    background-color: rgb(243, 95, 95);
    border: 2px solid black;
    box-shadow:  none;
}

.table-responsive {
	
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align:center;
}

.table-dark tr{
    
    
    width: 100%;
    background-color:#212529;
    
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 20px;
}




